repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        args: ["--line-length=88"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: stable
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: stable
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: stable
    hooks:
      - id: mypy
        args: ["--ignore-missing-imports"]
